  <ng-container *ngIf="loading == false">
    <section class="container">
    <mat-card *ngFor="let launch of launchesPastList">
      <mat-card-header>
        <img *ngIf="launch.links.mission_patch_small"
          height="50"
          width="50"
          mat-card-avatar
          loading="lazy"
          [src]="launch.links.mission_patch_small"
        />

        <mat-card-title>
          {{ launch.mission_name}}
        </mat-card-title>
        <mat-card-subtitle>
          {{ launch.rocket.rocket_name }}
        </mat-card-subtitle>
      </mat-card-header>

      <ng-container *ngIf="launch.links.video_link">
        <iframe [src]="sanitizeVideoURL(launch.links.video_link)" frameborder="0" allowfullscreen></iframe>
      </ng-container>

      <p>
        <b>Launched:</b> {{ getLocalDateFormat(launch.launch_date_utc) }}
      </p>

      <p>
        <b>Status:</b>
        {{ launch.launch_success ? "Success!" : "Failure"}}
      </p>
    </mat-card>
  </section>

  <div class="loadMoreWrapper">
    <button (click)="fetchMore()">Load More Data</button>
  </div>
  
  </ng-container>
